.bg {
    background-color: #06121e;
  }
  
  .btn-sub {
    background-color: #ffe08a;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
  }
  .icon-edit:hover {
    color: #ffe08a !important;
  }