
.column {
    float: left;    
}
  
.left {
    margin-top: 10%;
    width: 15%;
    top: 30%; /* this is required for "sticky" to work */
    position: sticky;
    align-self: flex-start
}
  
.right {
    width: 85%;
}

.paper {
    background-color: #fafaf3;
    color: #000000;
    font-size: 18px;
    padding: 4% 4%;    
    margin: 5% 5% 8% 28%;
    box-shadow: 1px 3px 4px 3px rgba(0, 0, 0, 0.3);
    transition: 1s margin-left;
    z-index: 2;
    min-width: 300px;
    
}

.book-content {
    box-sizing: border-box;
}

.paper p {
    text-align: justify;
}

.reading-view {
    margin-top:5% ;
   display: flex;
    
    
   
    
}
  
.book-container h1 {
    margin: auto;
    display: block;
    text-align: center;
    color: yellow;
    font-family: Gabriola;
}
